{% extends "base.html.twig" %}

{% block title %}Utilisateurs
{% endblock %}

{% block auth %}Déconnexion
{% endblock %}

{% block content %}


	<h2>Utilisateurs</h2>

	<table>
		<thead>
			<tr>
				<th>Nom Utilisateur</th>
				<th>Budget</th>
				<th>Droits Administrateur</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.budget }}</td>
					<td>{{ user.isAdmin }}</td>
					<td>
						<a class="green" href="./newuser">Nouveau</a>
						<a class="blue" href="./edituser?userid={{user.id}}">Editer</a>
						<a class="red" href="./deluser?userid={{user.id}}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>


{% endblock %}
