{% extends "base.html.twig" %}

{% block title %}Editer Utilisateur
{% endblock %}

{% block content %}


	<h2>Editer profil :
		{{user.username}}</h2>

	{% if popup %}
		<span class='done'>{{popup}}</span>
	{% endif %}

	<form class="updateuser" action="./user?userid={{user.id}}" method="POST">

		<label for="username">Nom Utilisateur</label>
		<input type="text" name="username" id="username" value="{{user.username}}" readonly>

		<label for="budget">Budget</label>
		<input type="text" name="budget" id="budget" value="{{user.budget}}">

		<button>Modifier</button>
	</form>
{% endblock %}
